* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red;  */
}

.body {
  background: url(acsess/image/body-back3.jpg) no-repeat;
  width: 100%;
  height: 600px;
  margin-bottom: 150px;
}

header {
  background-color: transparent;
  place-self: center;
  border: solid 2px #0001;
  padding: 0 1em;
  border-radius: 2em;
  box-shadow: inset 1px 3px 20px #fff4;
  color: white;
  height: 80px;
  border-radius: 40px;
  align-items: center;
  padding-top: 30px;
  max-width: 1180px;
  position: relative;
  left: 6%;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  padding: 0px 230px;
  align-items: center;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 60px;
  cursor: pointer;
  font-family: "Outfit", sans-serif;
}

.menu-item:hover {
  background: -webkit-linear-gradient(
    20deg,
    rgba(255, 255, 255, 1) 100%,
    rgba(97, 92, 87, 1) 10%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo,
.logo a,
.logo h3 {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-family: "Outfit", sans-serif;
}
.logo-title:hover {
  background: -webkit-linear-gradient(
    20deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(97, 92, 87, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#dropdown-menu {
  border: 0;
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-family: "Outfit", sans-serif;
  width: 60px;
}

#dropdown-menu:hover {
  background: -webkit-linear-gradient(
    20deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(97, 92, 87, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#dropdown-menu option {
  color: black;
  background-color: transparent;
}

#lezu {
  border: 0;
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-family: "Outfit", sans-serif;
}

#lezu:hover {
  background: -webkit-linear-gradient(
    20deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(97, 92, 87, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#lezu option {
  color: black;
}

/*  */

.welcome h1 {
  background: -webkit-linear-gradient(
    20deg,
    rgb(255, 255, 255) 0%,
    rgb(25, 3, 26) 160%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Outfit", sans-serif;
  font-size: 40px;
  cursor: default;
  margin-bottom: 20px;
  text-align: center;
}

.btn-page {
  display: flex;
  justify-content: center;
}

@property --r {
  syntax: "<length-percentage>";
  initial-value: 0px;
  inherits: false;
}

.scroll-page {
  background-color: transparent;
  width: 150px;
  height: 40px;
  border-color: aqua;
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: center;
  border-radius: 13px;
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  font-weight: 500;

  place-self: center;
  border: solid 2px #0001;
  padding: 0 1em;
  border-radius: 2em;
  box-shadow: inset 1px 3px 20px #fff4;
  background: radial-gradient(
      circle at var(--x, 0%) var(--y, 0%),
      rgb(53, 50, 50) calc(var(--r) - 1px),
      transparent var(--r)
    )
    border-box;
  color: white;

  transition: --r 0.35s;

  &:hover {
    --r: 100%;
  }
}

/*  */

.abourt-me {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-bottom: 150px;
}

.about-img img {
  height: 300px;
  border-radius: 50px;
}

.about-title h1 {
  margin-bottom: 15px;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Outfit", sans-serif;
  font-size: 37px;
  background: -webkit-linear-gradient(
    20deg,
    rgb(148, 148, 148) 0%,
    rgb(25, 3, 26) 10%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-title p {
  font-family: "Martel", serif;
  background: -webkit-linear-gradient(
    20deg,
    rgb(148, 148, 148) 0%,
    rgb(25, 3, 26) 10%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*  */

.work-info {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.work hr {
  border: 1px solid rgb(182, 182, 248);
  border-radius: 3px;
  width: 100%;
}

.baget img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  transition: 0.5s;
}

.baget,
img:hover {
  transform: translate(-5px, -10px);
}

.baget,
.smart h5,
h6 {
  color: gray;
  font-family: "Lora", serif;
}

.smart img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  transition: 0.5s;
}

.smart img:hover {
  transform: translate(-5px, -10px);
}

.work-title h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  font-family: "Outfit", sans-serif;
  font-size: 37px;
  background: -webkit-linear-gradient(
    20deg,
    rgb(220, 220, 220) 0%,
    rgb(25, 3, 26) 70%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.smart hr {
  border: 3px solid rgb(131, 131, 131);
  border-radius: 10px;
  display: flex;
  margin-top: 10px;
}

.baget hr {
  border: 3px solid rgb(131, 131, 131);
  border-radius: 10px;
  display: flex;
  margin-top: 10px;
}
