* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red;  */
}

.body {
  /* background: linear-gradient(
    99deg,
    rgba(0, 11, 161, 1) 0%,
    rgba(119, 114, 114, 1) 74%
  ); */
  background: url(acsess/image/body-back3.jpg) no-repeat;
  width: 100%;
  height: 600px;
  /* padding-top: 20px;
  box-shadow: 0 0 10px rgba(0 0 0 / 30%); */
}

header {
  /* background: linear-gradient(
    99deg,
    rgba(0, 11, 161, 1) 0%,
    rgba(119, 114, 114, 1) 74%
  ); */
  background-color: transparent;
  /* filter: blur(3px); */
  box-shadow: 9px 10px 10px rgba(0 0 0 / 30%);
  color: white;
  height: 80px;
  border-radius: 40px;
  align-items: center;
  padding-top: 30px;
  max-width: 1180px;
  position: relative;
  left: 6%;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  padding: 0px 230px;
  align-items: center;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 60px;
  cursor: pointer;
  font-family: "Outfit", sans-serif;
}

.menu-item:hover {
  background: -webkit-linear-gradient(
    20deg,
    rgba(255, 255, 255, 1) 100%,
    rgba(97, 92, 87, 1) 10%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo,
.logo a,
.logo h3 {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-family: "Outfit", sans-serif;
}
.logo-title:hover {
  background: -webkit-linear-gradient(
    20deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(97, 92, 87, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#dropdown-menu {
  border: 0;
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-family: "Outfit", sans-serif;
  width: 60px;
}

#dropdown-menu:hover {
  background: -webkit-linear-gradient(
    20deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(97, 92, 87, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#dropdown-menu option {
  color: black;
  background-color: transparent;
}

#lezu {
  border: 0;
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-family: "Outfit", sans-serif;
}

#lezu:hover {
  background: -webkit-linear-gradient(
    20deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(97, 92, 87, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#lezu option {
  color: black;
}

/*  */

.welcome h1 {
  background: -webkit-linear-gradient(
    20deg,
    rgb(255, 255, 255) 0%,
    rgb(25, 3, 26) 160%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Outfit", sans-serif;
  font-size: 40px;
  cursor: default;
  margin-bottom: 20px;
  text-align: center;
}

.btn-page {
  display: flex;
  justify-content: center;
}

@property --r {
  syntax: "<length-percentage>";
  initial-value: 0px;
  inherits: false;
}

.scroll-page {
  background-color: transparent;
  width: 150px;
  height: 40px;
  border-color: aqua;
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: center;
  border-radius: 13px;
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  font-weight: 500;

  place-self: center;
  border: solid 2px #0001;
  padding: 0 1em;
  border-radius: 2em;
  box-shadow: inset 1px 3px 20px #fff4;
  background: radial-gradient(
      circle at var(--x, 0%) var(--y, 0%),
      darkorange calc(var(--r) - 1px),
      transparent var(--r)
    )
    border-box;
  color: white;

  transition: --r 0.35s;

  &:hover {
    --r: 100%;
  }
}

/*  */


